.DS_Store
/node_modules/
/functions/svg/node_modules/
yarn-error.log

# SvelteKit
.svelte-kit
build
.vercel

# Local Netlify folder
.netlify
media

# Development
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*