@import url("https://fonts.googleapis.com/css?family=Lato:400,900");

html {
  box-sizing: border-box;
  font-weight: 900;
  letter-spacing: 2px;
  font-size: calc(0.5em + 1vmin);
  line-height: 1.8;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

body {
  margin: 0;
  font-family: "Lato", verdana, sans-serif;
  color: hsl(192, 0%, 100%);
  background-color: hsl(192, 97%, 24%);
}

*,
*:before,
*:after {
  box-sizing: inherit;
  -webkit-user-select: none; /* disable text selection for all elements */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.5em 0;
  font-weight: 700;
  line-height: 1.2;
}

h1 {
  font-size: 2.8em;
}

a {
  color: inherit;
}

ul {
  list-style: none;
}

button {
  font-weight: 900;
  font-size: 1.25rem;
  border-radius: 0.5em;
  background: hsl(47, 100%, 60%);
  border: 1px solid #011627;
  color: #011627;
  box-shadow: 0 1px 3px hsla(47, 100%, 60%, 0.2);
  text-decoration: none;
  padding: 1rem;
}
